:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --font-family: "Nunito Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
  font-family: var(--font-family);
}

.App {
  height: 100vh;
  width: 100vw;
  /* background-image: url("./desktop-design-home-light.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.contentContainer {
  /* opacity: 0; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.titleBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 0.25rem lightgray;
  height: 5rem;
  padding: 0 5rem;

}

.titleBar .appTitle {
  font-size: 1.5rem;
  color: var(--very-dark-blue-text)
}

.titleBar .darkMode {
  display: flex;
  justify-content: space-between;
  width: 6.75rem;
  color: var(--very-dark-blue-text);
  font-weight: 600;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem 0 5rem;
}

.input {
  border: none;
  border-radius: 0.45rem;
  box-shadow: 0 0 0.35rem rgb(211, 211, 211);
}

.inputContainer .searchInput {
  padding: 1.3rem 4.5rem;
  width: 21rem;

  letter-spacing: 0.5px;
}

.inputContainer .searchIcon {
  position: absolute;
  padding: 1rem 2rem;
  font-size: 22px;
}

.selectWrapper {
  width: 9.5rem;
  padding: 0 1.5rem;
  background-color: white;
  position: relative;
}

.selectWrapper .regionFilter {
  color: var(--very-dark-blue-text);
  width: 100%;
  font-size: 14px;
  padding: 1rem 0.15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectWrapper .regionFilterOptions {
  color: var(--very-dark-blue-text);
  font-size: 14px;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0rem;
  padding: 1rem 0rem;
  width: 100%;
  margin-top: 0.35rem;
  background-color: white;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.selectWrapper .regionFilterOptions li {
  padding-left: 1.5rem;
}

.allCardsContainer {
  margin-top: 3rem;
  width: 100%;
  padding: 0 5rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4.65rem;
  row-gap: 4.55rem;
}

.allCardsContainer .cardContainer {
  width: 16.5rem;
  height: 21rem;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 0.35rem lightgray;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card .cardImg {
  height: 47.5%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.card .cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .cardText {
  padding: 0 1.5rem;
}

.card .cardText h4 {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0;
}

.card .cardText .cardDetailsContainer {
  font-size: 14px;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.3rem;
}

.card .cardTextDetails {
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

.card .detailTextTitle {
  font-weight: 600;
  margin-right: 0.25rem;
}