:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --font-family: "Nunito Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.App {
  height: 100vh;
  width: 100vw;
  background-image: url("./desktop-design-home-light.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  font-family: var(--font-family);
}

.contentContainer {
  /* opacity: 0; */
  background-color: var(--very-light-gray);
  width: 68.5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.15rem 0.25rem rgba(211, 211, 211, 0.254);
  opacity: 1;
  height: 4.5rem;
  padding: 0 4.5rem;
}

.titleBar .appTitle {
  font-size: 22px;
}

.titleBar .darkMode {
  width: 6.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--very-dark-blue);
  font-size: 14px;
  font-weight: 800;
}

.inputContainer {
  width: 100%;
  padding: 0 4.5rem;
  margin-top: 2.85rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputContainer .input {
  border: none;
  border-radius: 0.35rem;
  box-shadow: 0 0rem 0.5rem rgba(211, 211, 211, 0.35);
  background-color: white;

}

.inputContainer .searchInput {
  width: 31.5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4.2rem;
  font-family: var(--font-family);
  font-size: 13px;

}

.inputContainer .searchIcon {
  position: absolute;
  margin-left: 1.8rem;
}


.selectWrapper {
  width: 15.5%;
  padding: 0rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

.inputContainer .regionFilter {
  width: 63%;
  border: none;
  padding: 1rem 1.25rem;
  appearance: none;
  user-select: none;

  font-size: 12px;
  font-weight: 600;

  cursor: pointer;
}


.inputContainer .regionFilterOptions {
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  top: 75%;
  list-style: none;
  padding-left: 0rem;
  display: flex;
  height: 9.7rem;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.6285rem;
}

.inputContainer .regionFilterOptions li {
  cursor: pointer;
  user-select: none;
  width: 100%;
  align-items: center;
  padding-left: 1.25rem;
  font-size: 12px;
  font-weight: 600;

}

.allCardsContainer {
  margin-top: 2.75rem;
  width: 100%;
  padding: 0 1.75rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 3.5rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  width: 18rem;
  height: 20rem;
}

.card {
  border-radius: 0.35rem;
  height: 96.5%;
  width: 84%;
  overflow: hidden;
  box-shadow: 0rem 0rem 0.75rem rgba(211, 211, 211, 0.275);
  background-color: white;

}

.card .cardImg {
  width: 100%;
  height: 48%;
}

.card .cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .cardText {
  padding: 0 1.45rem;
  height: 12rem;
}


.card .cardText h4 {
  font-family: var(--font-family);
  font-weight: 800;
  width: 100%;
  margin: 1.5rem 0 0 0rem;
}

.card .cardText .cardDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.85rem;
  row-gap: 0.4rem;

}

.card .cardText .detailTextTitle {
  font-weight: 800;
  color: var(--very-dark-blue);
  margin-right: 0.2rem;

}

.card .cardText .cardTextDetails {
  font-size: 12px;
  font-weight: 300;
  width: 100%;
}