#dark .backButton {
    background-color: hsl(207, 26%, 17%);
    box-shadow: 0 0 0.35rem black;

}

#dark .backButton .backIcon,
#dark .backButton .backText {
    color: white;
}

#dark .countryFlagContainer {
    box-shadow: 0 0 0.35rem black;
}

#dark .detailsContainer {
    color: white;
}

#dark .borderCountryCode {
    box-shadow: 0 0 0.35rem rgb(32, 32, 32);
    color: black;

}

.countryPageContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4.5rem;
    width: 100%;
    padding: 3rem 0rem 0 5rem;
    font-family: "Nunito Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.countryPageContainer .backButtonContainer {
    border-radius: 0.35rem;
    display: flex;
    align-items: flex-end;
    height: 5rem;
    width: 100%;
}

.countryPageContainer .backButtonContainer .backButton {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 8.5rem;
    height: 2.5rem;
    font-size: 16px;
    box-shadow: 0 0 0.35rem lightgray;
    cursor: pointer;

}

.backButton .backButtonLink {
    color: hsl(200, 15%, 8%);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backButton .backButtonLink:visited {
    color: hsl(200, 15%, 8%);
}

.backButton .backIcon {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}

.backButton .backText {
    color: hsl(200, 15%, 8%);
    font-weight: 600;
    /* margin-left: 0.25rem; */
}

.detailsContainer {
    padding-right: 5rem;
    display: flex;
    font-size: 21px;
    column-gap: 7.5rem;
}

.countryFlagContainer {
    width: 43.75rem;
    height: 25rem;
    box-shadow: 0 0 0.35rem rgb(211, 211, 211);
}

.countryFlagContainer img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.countryDetails {
    width: 60%;
}

.countryDetails h2 {
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1.75rem;
}

.countryDetails :not(h2) {
    font-size: 16px;
}

.countryDetails .detailsInfoTitle {
    font-weight: 800;
}

.countryDetailsInfo {
    width: 100%;
    display: flex;
    row-gap: 2rem;
    flex-wrap: wrap;
}

.detailsInfoColumn {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.65rem;
    width: 41.45%;
}

.secondInfoColumn {
    width: 58.5%;
    row-gap: 0;
    height: min-content;
    /* row-gap: 5rem; */
}

.secondInfoColumn div {
    padding-left: 5.5rem;
}

.secondInfoColumn div:not(:first-child) {
    padding-top: 0.65rem;
    padding-bottom: 0rem;

}

.detailsInfoColumn div {
    width: 100%;
}

.borderCountries {
    display: flex;
    margin-top: 4.5rem;
}

.borderCodesContainer {
    display: flex;
    column-gap: 0.5rem;
    margin-left: 0.5rem;
}

.borderCountryCode {
    font-size: 14px !important;
    background-color: white;
    box-shadow: 0 0 0.35rem rgb(211, 211, 211);
    padding: 0.2rem 1rem;
    cursor: pointer;
    max-width: 5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}